.header {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  color: rgb(11, 7, 235);
}

.footer {
  color: rgb(11, 7, 235);
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.footerlinks {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

@media screen and (max-width: 767px) {
  .header {
    height: 100px;
  }
  .phoenix {
    border-radius: 50%;
  }
  .hungry {
    border-radius: 20px 20px;
  }
  .meet-james {
    border-radius: 50% 20px;
  }
  .suite {
    border-radius: 50%;
  }
  .doing > img {
    border-radius: 50%;
  }
  .doing:hover {
    color: red;
  }
  .meetthisguy {
    border-radius: 50%;
  }
  .intro {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .profile {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .doing {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .pics-vids {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .meetme {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: grid;
    text-align: center;
  }
  .hungry {
    border-radius: 20px 20px;
  }
  .meet-james {
    border-radius: 50% 20px;
  }
  .suite {
    border-radius: 50%;
  }
  .doing > img {
    border-radius: 50%;
  }
  .doing:hover {
    color: red;
  }
  .meetthisguy {
    border-radius: 50%;
    justify-self: start;
  }
  .phoenix {
    display: grid;
    justify-self: start;
    border-radius: 50%;
  }
  .imjames {
    display: grid;
    display: grid;
    justify-self: center;
  }
  .para-one {
    display: grid;
    width: 400px;
    height: 50px;
  }
  .intro {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
  }
  .profile {
    display: grid;
    float: right;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .acetrainer {
    width: 350px;
  }
  .strong-two {
    width: 300px;
  }
  .para-three {
    height: 367px;
    width: 300px;
  }
  .legpress {
    justify-self: baseline;
  }
  .ropes {
    justify-self: right;
  }
  .curl {
    justify-self: baseline;
  }
  .daddy {
    justify-self: right;
  }
  .works {
    justify-self: center;
  }
  .worksone {
    display: grid;
    justify-content: center;
  }
  .workspara {
    display: grid;
    width: 500px;
  }
  .doing {
    display: grid;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .pics-vids {
    display: grid;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .meetme {
    display: grid;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .review {
    display: grid;
  }
  .instatab {
    display: grid;
  }
  .dumb {
    display: grid;
    text-align: -webkit-center;
  }
  .instabutton {
    display: grid;
  }
  .footer {
    display: grid;
    text-align: center;
    text-decoration: underline;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    display: grid;
    font-size: -webkit-xxx-large;
    text-align-last: center;
  }
  .phoenix {
    height: 500px;
    width: 500px;
    display: grid;
    justify-self: center;
  }
  .imjames {
    display: grid;
    justify-self: center;
  }
  .main-content {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: rgb(9, 248, 21);
  }
  .intro {
    display: grid;
    justify-content: center;
  }
  .hungry {
    display: grid;
    justify-self: center;
    width: 500px;
    height: 600px;
  }
  .profile {
    display: grid;
    justify-items: center;
  }
  .doing {
    display: grid;
    justify-items: center;
  }
  .whatimdoing {
    display: grid;
    justify-self: center;
  }
  .whatimdoing:hover {
    color: aliceblue;
    font-family: fantasy;
  }
  .pics-vids {
    display: grid;
  }
  .legpress {
    display: grid;
    justify-self: start;
  }
  .ropes {
    display: grid;
    justify-self: center;
  }
  .dedicated {
    display: grid;
    justify-self: right;
  }
  .curl {
    display: grid;
    justify-self: center;
  }
  .anytime {
    display: grid;
    justify-self: center;
  }
  .worksone {
    display: grid;
  }
  .meetme {
    display: grid;
  }
  .meetthisguy {
    justify-self: center;
    height: 400px;
    width: 300px;
  }
  .review {
    display: grid;
    width: 600px;
    justify-self: center;
  }
  .steven {
    display: grid;
    justify-items: center;
  }
  .footer {
    display: grid;
    justify-items: center;
  }
  .lastp {
    display: grid;
    width: 600px;
  }
}

/*# sourceMappingURL=nicepage.css.map */
