@use "gereral";

.footer {
    color: $footer-font-color;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);;
}

.footerlinks {
    
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}